@page
@model IndexModel 
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Typing Game!</h1>
    <p>Please <a class="alert-link" asp-page="/EnterName">enter name</a> to access game content.</p>
</div>


