@page
@model Typing.Pages.GameModel
@{
    ViewData["Title"] = "Game";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Game</h1>
<p>This is where the typing game will take place if user is logged in!</p>

<div class="split left" id="player1">
    <div class="centered">
        <h2>Player 1</h2>


    </div>
</div>

<div class="split right" id="player2">
    <div class="centered">
        <h2>Player 2</h2>
        

    </div>
</div>
